# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/.idea.corium.iml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\andrewm\RiderProjects\corium\.idea\.idea.corium\.idea/dataSources/
/dataSources.local.xml
